#chat .message:nth-child(2n+1),
#chat .mention:nth-child(2n+1),
#chat .skip:nth-child(2n+1),
#chat .moderation:nth-child(2n+1),
#chat .emote:nth-child(2n+1),
#chat .update:nth-child(2n+1),
#chat .welcome:nth-child(2n+1) {
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}
#chat .emote,
#chat .mention,
#chat .message,
#chat .moderation,
#chat .skip,
#chat .system,
#chat .update,
#chat .welcome {
    -webkit-animation: fadein 0.25s;
    -moz-animation: fadein 0.25s;
    -ms-animation: fadein 0.25s;
    -o-animation: fadein 0.25s;
    animation: fadein 0.25s;
}
#chat .mention {
    font-weight: bold;
}
#chat .emote .from {
    color: #fff!important;
}
#chat .emote {
    border-left: rgba(172, 118, 255, 1) 3px solid!important;
    background-color: rgba(172, 118, 255, 1)!important;
}
#chat-messages .emote .icon {}#chat .emote .text {
    font-style: normal;
    font-weight: bold;
    color: #fff;
}
.social-menu .icon-twitter,
.social-menu .icon-facebook {
    opacity: 1;
}
#user-lists .list.room .user .icon-meh {
    top: -1px!important;
    right: 8px!important;
    left: auto!important;
}
#user-lists .list.room .user .icon-grab {
    right: 35px!important;
}
.icon-site-logo {
    background: url('https://rawgit.com/Benzi/Qluster/master/assets/images/icons/sitelogo.png') repeat scroll 0% 0% transparent;
    background-position: 0px 0px;
}
#room-bar .icon-room{
    background: none;
}
/*[data-cid^="3851534-"] .msg .from .icon-chat-host {
    background: url("https://rawgit.com/Benzi/Qluster/master/assets/images/icons/eyes.png")!important;
}
[data-cid^="3851534-"] .msg .from .icon-chat-subscriber {
    background: url("https://rawgit.com/Benzi/Qluster/master/assets/images/icons/crown.png")!important;
}*/
[data-cid^="3851534-"] .badge-box .bdg {
    background: url('https://rawgit.com/Benzi/Qluster/master/assets/images/badges/eyes.png')!important;
    background-position: 0 0;
}
[data-cid^="4296722-"] .badge-box .bdg {
    background: url('https://rawgit.com/Benzi/Qluster/master/assets/images/badges/qbot.png')!important;
    background-position: 0 0;
}