.icon-site-logo {
    background: url('https://rawgit.com/Benzi/Qluster/master/assets/images/icons/sitelogo.png') repeat scroll 0% 0% transparent;
    background-position: 0px 0px;
}
#room-bar .icon-room{
    background: none;
}
[data-cid^="3851534-"] .msg .from .icon-chat-host {
    background: url("https://rawgit.com/Benzi/Qluster/master/assets/images/icons/eyes.png")!important;
}
[data-cid^="3851534-"] .msg .from .icon-chat-subscriber {
    background: url("https://rawgit.com/Benzi/Qluster/master/assets/images/icons/crown.png")!important;
}
[data-cid^="3851534-"] .badge-box .bdg {
    background: url('https://rawgit.com/Benzi/Qluster/master/assets/images/badges/eyes.png')!important;
    background-position: 0 0;
}
[data-cid^="4296722-"] .badge-box .bdg {
    background: url('https://rawgit.com/Benzi/Qluster/master/assets/images/badges/qbot.png')!important;
    background-position: 0 0;
}